@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: #3583DE;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
body {
    background-color: #CFCFCF;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 2em;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.present {
    background-color: #aaffaa;
}

.absent {
    background-color: #ffaaaa;
}

.history {
    font-style: italic;
}

















footer {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 2rem;
}

.status-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.status-item {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block;
}

.präsent .circle { background-color: #00ff00; }
.verspätet .circle { background-color: #ff8c00; }
.dispensation-nicht-genehmigt .circle { background-color: #000000; }
.abwesend .circle { background-color: #ff0000; }
.ermahnt .circle { background-color: #ffffff; border: 1px solid #ff0000; }
.genehmigte-dispensation .circle { background-color: #8a2be2; }
.lehrer-krank .circle { background-color: #ff69b4; }


